# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.idea/
# Other files and folders
.settings/
.temp/
test_db_viewer.py

# Executables
*.swf
*.air
*.ipa
*.apk
*.db
*.log

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
*.csv
test_bs_viewer.py
*.pyc
app/parservk/ok_settings
*.pyc
