<!DOCTYPE html>
<html lang="en">
<head>
    <table align="center" border="0" cellpadding="1" cellspacing="1" style="width:500px">
    <tbody>
        <tr>
            <td><a href="/" target="_self"><img alt="NONE" src="https://cdn.pixabay.com/photo/2017/08/13/16/29/eye-of-horus-2637716_960_720.png" style="height:25; width:50px" /></a></td>
            <td>&nbsp;</td>
            <td><a href="/" target="_self">Главная</a></td>
            <td><a href="/ticket_get" target="_self">Результат</a></td>
            <td><a href="/help" target="_self">Помощь</a></td>
        </tr>
    </tbody>
</table>

</head>
<body>
    <br>
    <br>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>