{% extends "base.html" %}

{% block content %}
    <p style="text-align:center">- Для корректной работы вам потребуется CSV файл<br>
    содержащий данные в следующей форме:<br>
    <br>
    Иван Иванов,21.06.1685<br>
    Петр Петров,12.10.1812<br>
    Алексей Алексеевич,14.01.2022<br>
    <br>    
    или при сохранении таблицы в программе Excel<br>
    у Вас должно быть две колонки, в первой ФИО, во второй дата рождения<br>
    при сохранении указать тип файла: csv, разделитель - запятая<br>
    <br>
    - После загрузки, вам будет присвоен и выдан билет содержащий уникальный номер<br>
    <br>
    - Скопируйте полученный билет и перейдите в раздел "Результат"<br>
    <br>
    - Введите Ваш билет в поле для ввода и нажмите "Предъявить"<br>
    Если результат готов - вы его получите, иначе страница обновится.<br>
    <br>
    + Автор не несет никакой ответственности за результаты использования данного сайта.<br>
    Все данные получены из открытых источников<br>
    kav#2022</p>
{% endblock %}