{% extends "base.html" %}

{% block content %}
	<center><form action="/ticket_post" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
		Предъявите билет:
		<input maxlength="10" id="ticket" name="ticket" required="required" size="10" type="text" value="" autofocus/>
		<input type="submit" value="Предъявить"/>
	</form></center>
    <br>
    <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <caption><strong>Информация о состоянии работ</strong></caption>
        <thead>
        <tr>
            <th scope="col">№ билета</th>
            <th scope="col">Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for item in result_list %}
        <tr>
            <td style="text-align:center">{{ item[0] }}</td>
            <td style="text-align:center">{{ item[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}